Utworzyć słownik zawierający pięć rekordów z książkami: 
- tytuł
- wydawnictwo
- rok wydania
- liczba stron. 

Ze słownika utworzyć strukturę DataFrame pakietu pandas. 
Wylistować: 
- całe dane tabelarycznie, 
- nagłówek i dwa pierwsze rekordy, 
- dwie dowolne kolumny. 

Odczytać i zmienić dowolną komórkę tabeli danych i zapisać dane w nowym pliku csv lub xlsx (do obsługi plików Excela użyć biblioteki xlrd).

In [5]:
import pandas as pd

book_dict = {
    "title": pd.Series(["Typowa Książka1", "Typowa Książka2", "Typowa Książka3"]),
    "publisher": pd.Series(["Cool Publisher1", "Cool Publisher2", "Cool Publisher3"]),
    "year": pd.Series([1984, 1999, 1997]),
    "pages": pd.Series([254, 115, 354]),
}

In [13]:
books = pd.DataFrame(book_dict)

In [14]:
books

             title        publisher  year  pages
0  Typowa Książka1  Cool Publisher1  1984    254
1  Typowa Książka2  Cool Publisher2  1999    115
2  Typowa Książka3  Cool Publisher3  1997    354

In [15]:
books[:2]

             title        publisher  year  pages
0  Typowa Książka1  Cool Publisher1  1984    254
1  Typowa Książka2  Cool Publisher2  1999    115

In [17]:
books[books.columns[:2]]

             title        publisher
0  Typowa Książka1  Cool Publisher1
1  Typowa Książka2  Cool Publisher2
2  Typowa Książka3  Cool Publisher3

In [20]:
books["year"][0] = 2000
assert books["year"][0] == 2000
books

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

             title        publisher  year  pages
0  Typowa Książka1  Cool Publisher1  2000    254
1  Typowa Książka2  Cool Publisher2  1999    115
2  Typowa Książka3  Cool Publisher3  1997    354

In [22]:
try:
    books.to_excel("books_to_file.xlsx", sheet_name='Books')
except ImportError as e:
    print(e)