Utworzyć słownik zawierający pięć rekordów z książkami: 
- tytuł
- wydawnictwo
- rok wydania
- liczba stron. 

Ze słownika utworzyć strukturę DataFrame pakietu pandas. 
Wylistować: 
- całe dane tabelarycznie, 
- nagłówek i dwa pierwsze rekordy, 
- dwie dowolne kolumny. 

Odczytać i zmienić dowolną komórkę tabeli danych i zapisać dane w nowym pliku csv lub xlsx (do obsługi plików Excela użyć biblioteki xlrd).

In [21]:
import pandas as pd

book_dict = {
    "title": pd.Series(["Typowa Książka1", "Typowa Książka2", "Typowa Książka3", "Typowa Książka 4", "Typowa Książka 5"]),
    "publisher": pd.Series(["Cool Publisher1", "Cool Publisher2", "Cool Publisher3", "Cool Publisher4", "Cool Publisher5"]),
    "year": pd.Series([1984, 1999, 1997, 1998, 1927]),
    "pages": pd.Series([254, 115, 354, 111, 222]),
}

In [22]:
books = pd.DataFrame(book_dict)

In [23]:
books

              title        publisher  year  pages
0   Typowa Książka1  Cool Publisher1  1984    254
1   Typowa Książka2  Cool Publisher2  1999    115
2   Typowa Książka3  Cool Publisher3  1997    354
3  Typowa Książka 4  Cool Publisher4  1998    111
4  Typowa Książka 5  Cool Publisher5  1927    222

In [24]:
books[:2]

             title        publisher  year  pages
0  Typowa Książka1  Cool Publisher1  1984    254
1  Typowa Książka2  Cool Publisher2  1999    115

In [25]:
books[books.columns[:2]]

              title        publisher
0   Typowa Książka1  Cool Publisher1
1   Typowa Książka2  Cool Publisher2
2   Typowa Książka3  Cool Publisher3
3  Typowa Książka 4  Cool Publisher4
4  Typowa Książka 5  Cool Publisher5

In [29]:
books.at[0, 'year'] = 2000
assert books["year"][0] == 2000
books

              title        publisher  year  pages
0   Typowa Książka1  Cool Publisher1  2000    254
1   Typowa Książka2  Cool Publisher2  1999    115
2   Typowa Książka3  Cool Publisher3  1997    354
3  Typowa Książka 4  Cool Publisher4  1998    111
4  Typowa Książka 5  Cool Publisher5  1927    222

In [31]:
books.to_csv("books_to_file2.csv")